.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 60px;
}

.nav-links-container a {
  font-size: 20px;
  padding-left: 30px;
  text-decoration: none;
  color: #800080;
}
@media (max-width: 480px) {
  .navbar {
    margin: 6px;
  }
  .hide-mobile {
    display: none;
  }
  .mobile-nav-link {
    margin-right: 10px;
  }
}
